<% layout('../layout') -%>
<div class="row mt-5">
	<div class="col-md-12.col-sm-12">
		<form action="/owners/create" method="POST">
		  <div class="form-group">
		    <label for="name">Name:</label>
		    <input name="name" class="form-control" id="name" required>
		  </div>
		  <div class="form-group">
		    <label for="surname">Surname:</label>
		    <input name="surname" class="form-control" id="surname" required>
		  </div>
		  <div class="form-group">
		    <label for="address">Address:</label>
		    <input name="address" class="form-control" id="address">
		  </div>
		  <div class="form-group">
		    <label for="email">Phone:</label>
		    <input name="phone" type="text" class="form-control" id="phone" required>
		  </div>
		  
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>
